
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>REGISTER FIRST</h2>
@* <div class="cart_section">
*@    <div class="wc-proceed-to-checkout">
            <a class="ice_btn" asp-area="Identity" asp-page="/Account/Register">signUp</a>
    
            <a class="ice_btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>


