@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IT'S ORDERED!</h1>
    <p>your order has been recived.</p>
    <p>Order date: @DateTime.Now.ToString("yyyy-MM-dd")</p>
    <p>Delivery date: @(DateTime.Now.AddDays(14).ToString("yyyy-MM-dd"))</p>
</div>
<script>
    // Remove orderId from local storage
    localStorage.removeItem('orderid');
</script>
