<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PayPal</title>
</head>
<body>
    <script src="https://www.paypal.com/sdk/js?client-id=AU9ewQk3eD4GuIzgbfG8ppN_crBDx30V9hYDCVKFzykCHxpd6VejfRgS0p-ObX9mdfrKCQtX4PHbk_pg&components=buttons"></script>

    <div id="paypal-button-container" style="max-width:1000px;"></div>

    <script>
        paypal.Buttons({
            style: {
                disableMaxWidth: true
            },
        }).render('#paypal-button-container');
    </script>
    <div class="wc-proceed-to-checkout">
        <div id="paypal-button-container">
            <button id="view-checkout-link" class="ice_btn btn4">proceed to checkout</button>
        </div>
    </div>
    <script>
        // Function to handle click on "view checkout" link
        function onViewCheckoutClick(event) {
            // Prevent the default behavior (page reload) of the button click
            event.preventDefault();

            // Retrieve the orderId from local storage
            var orderId = localStorage.getItem('orderId');
            console.log('123!#' + orderId);

            // Parse orderId as an integer (or default to -1 if it's not a valid integer)
            var myId = parseInt(orderId) || -1;

            // Construct the URL based on myId
            var url = '/Default/Checkout?orderId=' + myId; // Correct the controller name here

            // Redirect to the URL
            window.location.href = url;
        }

        // Attach click event handler to the "view checkout" link
        $(document).on('click', '#view-checkout-link', onViewCheckoutClick);

    </script>
</body>
</html>